@import "tailwindcss";
@plugin "tailwind-scrollbar";
html {
  transition: 0.2s linear;
}

.custom-scrollbar-dark {
  scrollbar-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 80%, transparent) transparent
}

.custom-scrollbar-light {
  scrollbar-color: color-mix(in oklab, var(--color-black) /* #000 = #000000 */ 60%, transparent) transparent
}